h1 {
    text-align: center;
    font-family: cursive;
    background-color: white;
    padding: 14px;
    border-radius: 8px;
    border-style: groove;
    border-color: rgb(175, 32, 32);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

h2 {
    color: green;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: cursive;
    
} 

section {
    background: whitesmoke;
    padding: 18px 20px;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 24px;
    border: 1px solid #d9d9d9;
    border-bottom: 3px solid lime;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

li {
    font-family: cursive;
}

#about {
    text-align: center; 
}

div {
    border: 2px solid;
    border-radius: 8px;
    box-shadow: 0 2px 6px;
    width: 15%;
    padding-left: 15px;
}

#boxabout {
    border: 2px solid;
    border-radius: 8px;
    box-shadow: 0 2px 6px;
    width: 20%;
    padding-left: 15px;
    margin: 0 auto;
}

#mepic {
    border-radius: 38px;
    margin-top: 32px;
    margin-bottom: 10px;
    transform: rotate(-35deg);
}